.login-container{
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    border-color: black;
    

}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
button:hover{
    opacity: 0.8;
}
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
