.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}


.head .logo img {
    width: 200px;
    height: auto;
    align-content: center;
}
.head h2 {
    margin: 0;
    padding-right: 20px;
}